* {
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header,
main,
footer {
    width: calc(1024px * .8);
}

header,
footer {
    flex: 2;
    background-color: antiquewhite;
}

main,
#section_article,
#section_article section,
#section_article article,
main aside {
    display: flex;
}

main h2,
header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

/* ====================================================== */

main {
    flex: 6;
}

#section_article {
    flex: 7;

    flex-direction: column;
}

#section_article section {
    flex: 6;
}

#section_article section h2 {
    background-color: silver;
    flex: 1;
}

#section_article article {
    flex: 4
}

#section_article article h2 {
    background-color: cadetblue;
    flex: 1
}

main aside {
    flex: 3;
}

main aside h2 {
    background-color: burlywood;
    flex: 1;
}

/* ====================================================== */

#section_article section:hover h2,
#section_article article:hover h2 {
    left: calc((100% / 7 * 3 / 2));

    z-index: 1;
}

#section_article section:hover h2 {
    top:calc((100% / 6 * 4 / 2));
}

#section_article article:hover h2 {
    bottom: calc((100% / 4 * 6 / 2));
}

main aside:hover h2 {
    left: 100%;
}